*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Inter", sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1170px; /* Set a maximum width */
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
:root{
    --main-color: hsla(173, 86%, 31%, 1);
    --secondary-color:hsla(42, 100%, 55%, 1);
    --font-color:hsla(215, 18%, 34%, 1);;

}
@media (min-width:768px) {
    .container {
        width: 750px;
    }

}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* start header */
header{
    background-color: var(--main-color);
height: 86px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-links li{
    display: inline-block;
    padding: 30px 25px;
    
}
.nav-links li a{
    color: hsla(0, 0%, 100%, 1);
    transition: all 0.3s ease 0s;
}
.nav-info{
    color: hsla(0, 0%, 100%, 1);
padding-bottom: 5px;
display: flex;
flex-direction: column;
align-items: flex-end;
}
.burger{
    display: none;
    color: hsla(0, 0%, 100%, 1) ;
    font-size: 30px;
    cursor: pointer;
    position: relative;
}

@media (max-width:768px){
    header{
        height: 70px;
    }
    .logo{
        padding-top: 10px;
    }
    .burger{
       display: flex;
       align-items: center;
        /* display: block; */
        padding-top: 24px;
        position: relative;
        /* z-index: 10; */
    }
    .navHover , .nav-links {
        display: none;
    }
    .nav-info{
        display: none;
    }
    .burger:hover .navHover{
        display: block;
        position: absolute;
        top: 66px;
        right: 25px;
        background-color:rgb(255, 250, 244);
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .navHover li a{
        padding-top: 7px;
   color: var(--font-color);
   font-size: 20px;
    }
}

/* end header */

/* start landing */

.landing{
    background-image: url(../images/solar-panels-meadow\ 1.png);
    background-size: cover;
    height: calc(100vh - 86px);
}
.landing .container{
    padding-top: 80px;
 
    
}
.progress-container{
    display: flex;
    align-items: center;
    padding-bottom: 80px;
}
.progress-container span{
    color: white;
font-weight: 500;


}
.progress-container span:first-child{
padding-right:30px;

}
.progress-container span:last-child{
    padding-left: 30px;
}
.progress-container progress{
   width: 220px;
   height: 5px;
   appearance: none;
}
progress::-webkit-progress-bar {
    background-color:hsla(0, 0%, 34%, 1);
}
progress::-webkit-progress-value {
    background-color:hsla(0, 0%, 100%, 1);
}

.landing-text{
    max-width: 729px;
}

.main-text{
    font-size: 50px;
    color: white;
    padding-bottom: 20px;
}
.sub-text{
    color: white;
font-size: 20px;
padding-bottom: 25px;

}

.btn{
outline: none;
border: none;
border-radius: 26px;
padding: 15px;
margin-right: 24px;
background-color: var(--main-color);
color: white;
font-size: 16px;
cursor: pointer;
transition: 0.3s;
font-weight: 500;

}
.yellow-btn{
background-color: var(--secondary-color);
color: var(--font-color);
}
.btn:hover{
    background-color: rgb(47, 130, 109); ;
}
.yellow-btn:hover{
    background-color: rgb(226, 159, 2);
}
@media (max-width:768px){
    .landing{
        height: calc(100vh - 70px);
    }
    .progress-container{
        padding-bottom: 40px;
    }
    .main-text{
        font-size: 30px;
    }
    .sub-text{
        font-size: 15px;
    }
}
/* end landing */

/* start features */

.features .container{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.featuers-text{
    max-width: 594px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.features-mainText{
    font-size: 35px;
    font-weight: 900;
    /* padding-bottom: 20px; */
}
.features-subText{
    color: var(--font-color);

}
.features-list .features-listItem{
    padding-bottom: 10px;
}
.features-listItem{
    font-weight: 700;
}
.features-listItem span{
    color: hsla(86, 53%, 48%, 1);;
    word-spacing: -1px;
    padding-right: 10px;
}
.features-img{
    position: relative;

}
.features-img img{
    max-width:469px;
}
.rectangle{
display: flex;
flex-direction: column;
font-family: "Playpen Sans", cursive;
padding: 25px;
position: absolute;
background-color: var(--secondary-color);
width: 266px;
height: 208px;
bottom:20px;
left: -40px;
z-index: 1;
}
@media (max-width:768px){
    .features-img , .rectangle{
        display:none;
    }
    .features-mainText{
        font-size: 25px;
    }

}

/* end features */

/* start contact */
.contact{
    background-image: url(../images/green.png);
   background-repeat: no-repeat;
   /* background-size: cover; */
    padding-top: 147px;
    
    color: white;
    
}

.contact-mainText{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 40px;
}
.contact-subText{
    max-width: 678px;
    padding-bottom: 30px;
}
.contact-btn{
    margin-bottom: 145px;
}
@media (max-width: 768px) {
    .contact-mainText{
        font-size: 30px;
    }
}
/* end contact */

/*start kit  */
.kit-text{
    padding-top: 80px;
    text-align: center;
}
.kit-text h2{
    padding-bottom: 20px;
    font-size: 35px;
}
.kit-text p{
    color: var(--font-color);
    padding-bottom: 20px;

}
.card-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    /* margin-top: 80px; */
}
.card-item img{
    width: 100%;
    
}
.card-title{
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 23px;
}
.card-item p{
    
color: ;
}
/* end kit */